name: Optimum-rbln / Scheduled Test

on:
  schedule:
    # Run every day at 1 (16:00 UTC, 1:00am KST)
    - cron: '0 16 * * *'
  workflow_dispatch:

env:
  REBEL_PYPI_ENDPOINT: ${{ vars.REBEL_PYPI_INTERNAL_ENDPOINT }}
  REBEL_PYPI_USERNAME: ${{ secrets.REBEL_PYPI_USERNAME }}
  REBEL_PYPI_PASSWORD: ${{ secrets.REBEL_PYPI_PASSWORD }}
  TOKEN: ${{secrets.RENOVATE_TOKEN}}

jobs:
  check-code-quality:
    uses: ./.github/workflows/check_code_quality.yml
    
  test-docstrings:
    uses: ./.github/workflows/test-docstrings.yml
    with:
      test_all_files: true

  fetch-version:
    runs-on: rebel-k8s-runner
    outputs:
      compiler_version: ${{ steps.get_version.outputs.compiler_version }}
      need_pr: ${{ steps.check_pr_needed.outputs.need_pr }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: "dev"

      - name: Get compiler version
        id: get_version
        run: |
          CUR_VERSION=$(grep rebel_compiler_version .github/version.yaml | cut -d ':' -f2 | tr -d ' ')
          echo "compiler_version=$CUR_VERSION" >> $GITHUB_OUTPUT

  rbln-full-test:
    needs: fetch-version
    uses: ./.github/workflows/rbln_optimum_full_test.yaml
    with:
      rebel_compiler_version: ${{ needs.fetch-version.outputs.compiler_version }}
      ref: "dev"
      report_slack: true
    secrets: inherit
